   <div class="d-flex align-items-center justify-content-center m-4 font-weight-bold">Sprint Calculator</div>

   <form [formGroup]="objSprintForm">
    <div class="form-field-pd mb-4">
      <label for="">Sprint Point</label>
      <input type="number" class="form-control" formControlName="intSprintPoint">

    </div>
    <div class="d-flex justify-content-center mb-4">
        <button class="btn btn-primary mr-2" (click)="autoSelectStories()">Auto Select Stories</button>
        <button class="btn btn-warning mr-2" (click)="clearStories()">Clear Stories</button>
        <button class="btn btn-danger mr-2" (click)="clearSprint()">Clear Sprint</button>

    </div>
   </form>
