<div class="d-flex align-items-center justify-content-center m-4 font-weight-bold">Stories</div>

<div *ngIf="arrListStories.length;else elseContent" class="col-sm-12 mt-4 d-flex">
    <ng-container *ngFor="let item of arrListStories">
        <div class="card col-sm-3 mr-2 align-items-center">
                <div>
                    {{item.strStory}}
                </div>
                <div class="font-weight-bold">
                    {{item.intPoint}}
                </div>
        </div>
    </ng-container>
    
</div>
<ng-template #elseContent>
    <div class="d-flex align-items-center justify-content-center mt-4">
            No records Found
    </div>
</ng-template>
